@use "components/font";
@use "components/animation";
@use "components/reset_values";
@use "components/var";
@use "components/transilation";

@use "components/nav";
@use "components/mobile-nav"; // Add this line
@use "components/hero";
@use "components/listen";
@use "components/footer";
@use "components/contact";
@use "components/tooltip";
@use "components/popup";

body {
  min-height: 100vh;
  margin: 0;

  /* Dynamic Gradient based on CSS variables */
  background: repeating-linear-gradient(
    to bottom,
    var(--gradient-color-1) 0vh,
    var(--gradient-color-1) 10vh,
    var(--gradient-color-2) 30vh,
    var(--gradient-color-3) 60vh,
    var(--gradient-color-4) 110vh,

    /* Reversed Direction */ var(--gradient-color-4) 110vh,
    var(--gradient-color-3) 190vh,
    var(--gradient-color-2) 210vh,
    var(--gradient-color-1) 230vh,
    var(--gradient-color-1) 240vh
  );
}

.back_to_top {
  position: fixed;
  color: white;
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  &::before {
    content: "\2191";
    font-size: 20px;
  }
}
