@use "components/font";
@use "components/animation";
@use "components/reset_values";
@use "components/var";
@use "components/transilation";

@use "components/nav";
@use "components/hero";
@use "components/listen";
@use "components/footer";

body {
  background: linear-gradient(
    to bottom,
    #fffdf8 0%,
    #fffdf8 10%,
    #cbeab2 30%,
    #acd481 60%,
    #066b50 90%
  );
  min-height: 100vh;
}

.back_to_top {
  position: fixed;
  color: white;
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  &::before {
    content: "\2191";
    font-size: 20px;
  }
}
