@use "components/hero";
@use "components/listen";
@use "components/animation";
@use "components/dry";
@use "components/footer";
@use "components/hadith";
@use "components/live";
@use "components/reset_values";
@use "components/responsive";
@use "components/var";
@use "components/nav";
@use "components/font";
