@use "components/font";
@use "components/animation";
@use "components/reset_values";
@use "components/var";
@use "components/transilation";

@use "components/nav";
@use "components/hero";
@use "components/listen";
@use "components/footer";
@use "components/contact";
@use "components/tooltip";
@use "components/popup";

body {
  /* min-height covers the screen but allows scrolling */
  min-height: 100vh;
  margin: 0;

  background: repeating-linear-gradient(
    to bottom,

    #fffdf8 0vh,
    #fffdf8 10vh,
    #cbeab2 30vh,
    #acd481 60vh,
    #066b50 110vh,

    /* Reversed Direction*/ #066b50 110vh,
    /* Mirror of 90vh */ #acd481 190vh,
    /* Mirror of 60vh */ #cbeab2 210vh,
    /* Mirror of 30vh */ #fffdf8 230vh,
    /* Mirror of 10vh */ #fffdf8 240vh
  );
}

.back_to_top {
  position: fixed;
  color: white;
  background-color: var(--color-primary);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  &::before {
    content: "\2191";
    font-size: 20px;
  }
}
