@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0%,
  100% {
    border-radius: 35% 65% 60% 40% / 45% 55% 45% 55%;
  }
  50% {
    border-radius: 60% 40% 35% 65% / 55% 45% 55% 45%;
  }
}
