html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.spacer {
  width: 100%;
  margin-block: 160px 160px;
}

.back_to_top {
  position: fixed;
  color: var(--color-white);
  background-color: var(--color-btn);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none; // prevents clicking when the btn is hidden
}

.back_to_top.show {
  opacity: 1;
  pointer-events: auto; // enable clicks when visible
}
.back_to_top:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all ease 0.3s;
}

.back_to_top::before {
  content: "\2191";
  font-size: 20px;
}
