body {
  /* min-height covers the screen but allows scrolling */
  min-height: 100vh;
  margin: 0;

  background: repeating-linear-gradient(
    to bottom,

    #fffdf8 0vh,
    #fffdf8 10vh,
    #cbeab2 30vh,
    #acd481 60vh,
    #066b50 90vh,

    /* The Turning Point*/ #066b50 100vh,

    /* Reversed Direction*/ #066b50 110vh,
    /* Mirror of 90vh */ #acd481 140vh,
    /* Mirror of 60vh */ #cbeab2 170vh,
    /* Mirror of 30vh */ #fffdf8 190vh,
    /* Mirror of 10vh */ #fffdf8 200vh
  );
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.back_to_top {
  position: fixed;
  color: var(--color-white);
  background-color: var(--color-btn);
  padding: 15px 20px;
  border-radius: 3px;
  bottom: 60px;
  right: 20px;
  transition: all ease 0.3s;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none; /* prevents clicking when the btn is hidden */
}

.back_to_top.show {
  opacity: 1;
  pointer-events: auto; /* enable clicks when visible */
}
.back_to_top:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all ease 0.3s;
}

.back_to_top::before {
  content: "\2191";
  font-size: 20px;
}
