/* The Seasons Font */

/* Regular */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Light Italic */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Light Italic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Bold Italic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Zalando Sans Semi Expanded Font
   ======================================== */

/* Extra Light (200) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semi Bold (600) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold (800) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Markazi Text Font (Arabic)
   ======================================== */

/* Regular (400) */
@font-face {
  font-family: "Markazi Text";
  src: url("/font/static/MarkaziText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Markazi Text";
  src: url("/font/static/MarkaziText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi Bold (600) */
@font-face {
  font-family: "Markazi Text";
  src: url("/font/static/MarkaziText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Markazi Text";
  src: url("/font/static/MarkaziText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
