/* ========================================
   The Seasons Font
   ======================================== */

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Light Italic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "The Seasons";
  src: url("/font/The.Seasons/The.Seasons/The Seasons Bold Italic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Zalando Sans Semi Expanded Font
   ======================================== */

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zalando Sans Semi Expanded";
  src: url("/font/Zalando_Sans_SemiExpanded/static/ZalandoSansSemiExpanded-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* ========================================
   Markazi Text Font (Arabic)
   ======================================== */

@font-face {
  font-family: "Markazi Text";
  src: url("/font/Markazi_Text/static/MarkaziText-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Markazi Text";
  src: url("/font/Markazi_Text/static/MarkaziText-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Markazi Text";
  src: url("/font/Markazi_Text/static/MarkaziText-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Markazi Text";
  src: url("/font/Markazi_Text/static/MarkaziText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ========================================
   Birthstone Font (Display / Calligraphy)
   ======================================== */

@font-face {
  font-family: "Birthstone";
  src: url("/font/Birthstone/Birthstone-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ========================================
   Cairo Font (Arabic + Latin)
   ======================================== */

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cairo";
  src: url("/font/Cairo/static/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
